<html class="fontawesome-i2svg-active fontawesome-i2svg-complete"><head>
  <div class="text-success">
    <%= flash[:notice] %>
  </div>

  <div class="text-success">
    <%= flash[:alert] %>
  </div>

  <div class="container">
    <div class="row">
      <%= render 'book', book: @newbook, user: @book.user %>
      <div class="col-md-8 offset-md-1">
      	<h2>Book detail</h2>
      	<table class="table">
      	  <tbody>
      	    <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= link_to @book.user.name, @book.user %>
              </td>
              <td>
                <%= link_to @book.title %>
              </td>
              <td>
                <%= @book.body %>
              </td>
              <% if @book.user == current_user %>
                <td>
                  <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
                </td>
                <td>
                  <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</html>